h1 {
    color: blue
}
  
body {
    background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=1600');
  }
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: baseline;
    align-content: center;
    color: blueviolet;
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

    .amp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: baseline;
        align-content: center;
        color: blueviolet;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }

    .work{
        display: flex;
        background-color: aquamarine;
    }

    .work > div {
        background-color: brown;
    }


.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
}
.contact-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: center;
    color: blueviolet;
    background-color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}
